/* .exhibit {
    margin: 10px;
    background-color: var(--baby-powder);
    text-align: center;
    border-radius: 20px 10px 5px 20px;
    box-shadow: 100px;
    height: 200px;
    width: 200px;
    padding: 20px;
    align-items: center;
    position:relative;
    border : 1px black;
}

.exhibit:hover {
    box-shadow: 10px 10px 8px 8px #888888;    
    transform:scale(105%);
    transition:ease-in-out 0.3s
}


.exhibit__items {
    line-height: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    max-lines: 10;
    overflow: hidden;
    color: var(--drab-dark-brown-2);
}

h2 {
    color :var(--drab-dark-brown-2);
    font-family: Arial, Helvetica, sans-serif;

}

ul {
    justify-content: center;
    align-items: center;
    list-style: none;
    max-lines: 20;
} */


.Exhibit {
    float: left;
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    color: #002933;
    background-color: #00b8e6;
    border: 0.25vw solid #005266;
    border-radius: 2vw;
}

.ExhibitHeading {
    font-weight: bold;
    font-size: 1.75vw;
}

.ExhibitContent {
    margin: 0.5vw;
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: #002933;
    background-color: #80e5ff;
    border: 0.25vw solid #005266;
    border-radius: 2vw;
}